{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}
{% block body %}

<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Activation de votre compte</span>
                <p>Bonjour, votre compte a été activé avec succès.</p>
            </div>
            <div class="card-action">
                <a href="path{{ '' }}">Log in</a>
                <a href="{{ path('front_default_index') }}">Page d'accueil</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}