{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css%22%3E#%7D >
{% endblock %}
{% block body %}
    {{ form_start(registrationForm) }}
    <div class="row" style="padding: 2% 10%;border: 5px solid #26a69a;box-sizing: border-box;">
        <h1>Inscription</h1>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    {{ form_row(registrationForm.Nom) }}
                </div>
                <div class="input-field col s6">
                    {{ form_row(registrationForm.Prenom) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.mail) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.password) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.sexe) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.date_naissance) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.tel) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.adresse) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.domaine_competences) }}
                </div>
            </div>
            <div class="row">
                <button class="btn">S'inscrire</button>
            </div>
            {{ form_rest(registrationForm) }}
        </form>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}

