{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="page__connexion">
    <div class="img__block confirm">

        <div class="message">
            Un e-mail vous a été envoyé, merci de confirmer votre inscription
            <a class="btn connexion--btn" href="{{ path('app_login') }}">
                Connexion
            </a>
        </div>
        <div class="img">

        </div>
    </div>
    </div>
{% endblock %}
