{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="page__connexion">
        <div class="singup__block">
            <div class="signup__body">

                <form class="form-horizontal" method="POST" action="{{ path("register") }}">
                    {{ form_start(registrationForm) }}
                    <div class="form-group">
                        <div type="text" class="form-control">
                            {{ form_row(registrationForm.nom) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div type="text" class="form-control">

                            {{ form_row(registrationForm.prenom) }}
                        </div>
                    </div>

                    {{ form_row(registrationForm.sexe) }}

                    {{ form_row(registrationForm.dateNaissance) }}

                    <div type="email" class="form-control">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    {{ form_row(registrationForm.plainPassword) }}

                    {{ form_row(registrationForm.tel) }}

                    <div class="form-group">
                        <div type="text" class="form-control">
                            {{ form_row(registrationForm.adresse) }}
                        </div>
                    </div>

                    {{ form_row(registrationForm.portfolio) }}


                    <div>
                        <button class="btn">S'inscrire</button>
                    </div>
                    {{ form_rest(registrationForm) }}
                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </div>
        <div class="signin__body">
            <form method="post">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
                <label>
                    <input type="checkbox" name="_remember_me">
                    <span>Se souvenir de moi</span>
                </label>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn btn-lg btn-primary" type="submit">
                    Connexion
                </button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
