{% extends 'front.html.twig' %}

{% block title %}Bienvenue sur la partie eleve {% endblock %}

{% block body %}
    <div class="accueil__page row">
        <div class="other col s12 l7">
            <div class="search">
                <div class="header"> Rechercher projets : </div>
                <form action="{{ path('project_search') }}" method="post">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Rechercher" class="btn">
                    {{ form_end(form) }}
                </form>
            </div>
        </div>

{% endblock %}