<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('/build/adw.jpeg') }}" height="18%" width="18%">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            </div>
            </li>
        </ul>
        <form action="localhost:8080/login">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <a href="{{ path('app_login') }}">S'enregistrer </a></button>
        </form>

    </div>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('/build/carou.png') }}" alt="First slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img class="left"
                 src="{{ asset('/build/logo148.png') }}">
        </div>
        <div style="width:600px; margin:60px auto;">
            <h1>Agence 148 </h1>
            <p> La plateforme Agents du Web a pour rôle principal de mettre en relation de nouveaux talents et l’agence 148. </p>
            <p> Les Agents du Web, nouveaux partenaires de l’agence digitale 148, sont formés par les collaborateurs 148. Ils réaliseront de A à Z des projets attribués par 148.</p>
            <p> Les Agents du Web partagent les mêmes valeurs que l’agence 148. La création de ce réseau de partenaires permettra aux futurs agents du web et à l’Agence 148 d’échanger et d’évoluer ensemble.</p>
            <p> Les Agents du Web c’est plus qu’une équipe soudée, c’est une communauté.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div style="width:600px; margin:125px auto;">
                <h1>148 x LES AGENTS DU WEB </h1>
                <p> 148, agence créative & technique, amoureux des plantes et du digital, accompagne ses clients du conseil à la création et jusqu’à la mise en œuvre.</p>
                <p> 148 créée son réseau de partenaires. Le but n’est pas que les agents travaillent pour l’agence mais de créer tous ensemble.</p>
                <p> Grâce à l’intégration de nouveaux talents, plus de projets pourront être réalisés. L’entraide est la clé de la réussite.</p>
                <p> L’agence 148 sélectionne et forme ces nouveaux agents.</p>
            </div>
            <div class="col">
                <img class="left"
                     src="{{ asset('/build/man.png') }}">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Client 148</h1>
                    <img class="left"
                         src="{{ asset('/build/man2.png') }}">
                </div>
                <div style="width:400px; margin:125px auto;">
                    <h1>Agents</h1>
                    <p> Les profils recherchés pour les Agents du Web sont les suivants : freelances et agences indépendantes. </p>
                    <p> En vous inscrivant sur la plateforme, vous devrez créer un profil et par la suite vous serez contacté par 148. </p>
                    <p> Vos avantages : formations, qualification et attributions de projets en fonction de vos appétences et compétences. </p>
                    <p> Freelances ou agences, ne vous reposez pas sur vos lauriers et rejoignez l’aventure ! </p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div style="width:900px; margin:50px auto;">
                        <h1 align="center">Savoir-faire / transmission</h1>
                            <p align="center">L’aventure ADW c’est avant tout l’acquisition de savoir-faire inculqués par l’équipe 148. Green attitude : basé sur des principes économiques plus humain et durable,
                            les agents du web sont certifiés B-Corp. Travailler dans un environnement sensible à l’impact environnemental pour préserver notre planète c’est le mode de vie qu’on a adopté ici ! .</p>
                    </div>
                    <div class="col">
                        <div style="width:900px; margin:50px auto;">
                        <h1 align="center">Communauté</h1>
                            <p align="center">Travaillez chez ADW c’est adhérer à une équipe motivée et qui a la pêche.</p>
                            <p align="center"> Partager, communiquer et s’entraider sont les clefs d’une équipe très soudée.</p>

                    </div>
                    <div class="col">
                        <div style="width:900px; margin:50px auto;">
                        <h1 align="center">Engagements</h1>
                        <p align="center">ADW s’engage à vous faire évoluer en vous proposant des projets à la hauteur de vos talents.</p>
                            <p align="center">  Valoriser votre travail c’est une de nos priorités.</p>
                    </div>
                </div>

                <footer class="section footer-classic context-dark bg-image" style="background: #FFFFFF;">
                    <div class="container">
                        <div style="width:900px; margin:125px auto;">
                            <div class="row row-300">
                                <div class="col-md-4 col-xl-5">
                                    <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                                        <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
                                        <!-- Rights-->
                                        <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h5>Contacts</h5>
                                    <dl class="contact-list">
                                        <dt>Adresse:</dt>
                                        <dd>Boulevard Saint Antoine</dd>
                                    </dl>
                                    <dl class="contact-list">
                                        <dt>Mail:</dt>
                                        <dd><a href="mailto:#">148@adw.com</a></dd>
                                    </dl>
                                </div>
                                <div class="col-md-4 col-xl-3">
                                    <h5>Links</h5>
                                    <ul class="nav-list">
                                        <li><a href="#">Agents du web</a></li>
                                        <li><a href="#">Valeurs </a></li>
                                        <li><a href="#">Engagements </a></li>
                                        <li><a href="#">Nos Projets</a></li>
                                        <li><a href="#">Agence 148</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </footer>
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>