<div class="panel__block">
    <div class="panel--switch">
        <i class="fas fa-chevron-left"></i>
    </div>
    <a class="logo--icon" href="{{ path('default_index') }}">
    </a>
    <div class="menu__block">
        <a href="{{ path('default_index') }}">
            <div class="waves-effect menu--item accueil {% if app.request.get('_route') matches '/default_index/' %} active {% endif %}">
                <i class="fas fa-home"></i>
                <span> {{ 'panel.home'|trans }} </span>
            </div>
        </a>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('project_show') }}">
                <div class="waves-effect menu--item professeurs {% if app.request.get('_route') matches '/project/' %} active {% endif %}">
                    <i class="fas fa-users"></i>
                    <span> {{ 'panel.project'|trans }} </span>
                </div>
            </a>
        {% endif %}

        <a href="{{ path('app_logout') }}">
            <div class="waves-effect menu--item exit {% if app.request.get('_route') matches '/leave/' %} active {% endif %}">
                <i class="fas fa-sign-out-alt"></i>
                <span> {{ 'panel.disconnect'|trans }} </span>
            </div>
        </a>
    </a>
    <div class="footer">
        <a href="#">{{ 'panel.terms_and_conditions'|trans }}</a>
        <div>
            {{ 'panel.copyright'|trans }}
        </div>
    </div>
    </div>
</div>