{% extends 'base.html.twig' %}

{% block title %}Project Index{% endblock %}

{% block body %}
    <form  class="search--form" method="POST" action="{{ path('project_search') }}">
        {% if(app.request.get('_route')) == "project_search" %}
            <a href="{{ path('project_show') }}">
                <button type="button" class="btn">
                    <i class="fas fa-times"></i>
                </button>
            </a>
        {% endif %}
        {% for message in app.flashes('info') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Rechercher">
        {{ form_end(form) }}
    </form>
    {% if( pagination.items == []) %}
        <p>Aucune résultat</p>
    {% else %}
        {% for project in pagination %}
                        <span class="description">{{ project.nameProject }}</span>
        {% endfor %}
    {% endif %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% endblock %}